In [2]:
import pandas as pd

In [5]:
data = {'ProductName':['Product A','Product B','Product C'], 'ProductPrice':[22250,16600,12500]}
products_IDs = ['A','B','C']
df = pd.DataFrame(data, index = products_IDs)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [6]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [9]:
series_products = pd.Series(['Product A','Product B','Product C'], index=['A','B','C'])
series_prices = pd.Series([22250,16600,12500], index=['A','B','C'])

data = {'ProductName': series_products, 'ProductPrice': series_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500